body{
    background-color: #d6b9fc;
    font-family: 'Courier New', Courier, monospace;
    
   

}


navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.middle{
    font-size: 60px;
    text-align: center;
}

.no{
    color: white;
}


.img{
    height:600px;
    
    
}

.content{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}


.textcontainer{
   font-size: 30px;
    margin: 0 90px;
}

.content:nth-of-type(2n){
    flex-direction: row-reverse;
}

.content:first-child{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    font-size: large;
}