.logo{
  height:25px;
  width:25px;
}


.text{
  text-align: center;
}


.middle{
  display: flex;
  font-size: 60px;
  justify-content: space-between;
}


.left{
  
  flex: 1;
}

.right{
  flex:2;
}

.content{
  display: flex;
  flex-direction: row;
}