*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


body{
    min-height: 100%;
    background-color: rgb(218, 78, 101);
    text-align: center;
    color: aliceblue;
    font-size: 18px;
    padding:5px;
    transition: 0.6s;
}


.wrapper{
    height:100%;
    padding:50px;
}


.main{
    margin-top: 150px;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    
}

.main input{
    
    width:300px;
    height:60px;
    padding: 20px;
    border-radius: 7px;
}


.heading{
    font-size: 60px;
}


.submit{
    text-align: top;
    margin-top: 15px;
    
    height:30px;
    font-size: 25px;
    color:  rgb(218, 78, 101);
    padding: 20px;
    border: solid 3px rgb(228, 102, 102);
    border-radius: 10px;

 
}

.op{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 60px;
    height:100%
}


.result{
    margin-top: 20px;
}


#reload{
    margin-top: 90px;
}